Makefile
Makefile.in
Makefile.in.in
configure
config.log
config.status
config.h
config.h.in
stamp-h1
aclocal.m4
autom4te.cache/
libtool
po/gnome-weather.pot
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
__pycache__

*~
*.gmo
.deps
.libs
*.gschema.xml
*.gschema.valid
*.gir
*.typelib
*.la
*.lo
*.o
*.pyc
*.pyo

data/gnome-weather.desktop
src/gnome-weather
