#weather-page {
    padding: 12px;
    padding-right: 0;
}

#loading-label {
    padding-top: 24px;
    font-size: 1.5em;
}

#temperature-label {
    font-size: 4em;
}
#condition-label {
    font-size: 2.5em;
}
#attribution-label {
    font-size: small;
}

#conditions-image {
    padding-right: 12px;
}

.content-view.cell {
    font-weight: bold;
}