#conditions-grid {
    margin: 20px;
}

#places-label {
    font-weight: bold;
}

#weather-page-placeholder-title {
    font-weight: bold;
    font-size: 1.2em;
}

#weather-page-content-view {
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    background-clip: border-box;
}

#loading-label {
    padding-top: 24px;
    font-size: 1.5em;
}

#temperature-label {
    font-size: 4em;
    margin-left: 16px;
}

#attribution-label {
    font-size: small;
}

#conditions-grid *:backdrop {
    color: @theme_fg_color;
}

.content-view.cell {
    font-weight: bold;
}

#locations-list-box {
    border: 1px solid @borders;
}

.forecast-temperature-label {
    font-weight: bold;
    color: #c89009;
}
